.cursor0001 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0001.png'), auto !important;
}
.cursor0001 a, .cursor0001 button,.cursor0001 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0001.png'), pointer !important;;
}

.cursor0002 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0002.png'), auto !important;
}
.cursor0002 a, .cursor0002 button,.cursor0002 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0002.png'), pointer !important;;
}

.cursor0003 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0003.png'), auto !important;
}
.cursor0003 a, .cursor0003 button,.cursor0003 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0003.png'), pointer !important;;
}

.cursor0004 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0004.png'), auto !important;
}
.cursor0004 a, .cursor0004 button,.cursor0004 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0004.png'), pointer !important;;
}

.cursor0005 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0005.png'), auto !important;
}
.cursor0005 a, .cursor0005 button,.cursor0005 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0005.png'), pointer !important;;
}

.cursor0006 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0006.png'), auto !important;
}
.cursor0006 a, .cursor0006 button,.cursor0006 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0006.png'), pointer !important;;
}

.cursor0007 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0007.png'), auto !important;
}
.cursor0007 a, .cursor0007 button,.cursor0007 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0007.png'), pointer !important;;
}

.cursor0008 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0008.png'), auto !important;
}
.cursor0008 a, .cursor0008 button,.cursor0008 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0008.png'), pointer !important;;
}

.cursor0009 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0009.png'), auto !important;
}
.cursor0009 a, .cursor0009 button,.cursor0009 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0009.png'), pointer !important;;
}

.cursor0010 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0010.png'), auto !important;
}
.cursor0010 a, .cursor0010 button,.cursor0010 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0010.png'), pointer !important;;
}

.cursor0011 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0011.png'), auto !important;
}
.cursor0011 a, .cursor0011 button,.cursor0011 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0011.png'), pointer !important;;
}

.cursor0012 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0012.png'), auto !important;
}
.cursor0012 a, .cursor0012 button,.cursor0012 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0012.png'), pointer !important;;
}

.cursor0013 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0013.png'), auto !important;
}
.cursor0013 a, .cursor0013 button,.cursor0013 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0013.png'), pointer !important;;
}

.cursor0014 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0014.png'), auto !important;
}
.cursor0014 a, .cursor0014 button,.cursor0014 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0014.png'), pointer !important;;
}

.cursor0015 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0015.png'), auto !important;
}
.cursor0015 a, .cursor0015 button,.cursor0015 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0015.png'), pointer !important;;
}

.cursor0016 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0016.png'), auto !important;
}
.cursor0016 a, .cursor0016 button,.cursor0016 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0016.png'), pointer !important;;
}

.cursor0017 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0017.png'), auto !important;
}
.cursor0017 a, .cursor0017 button,.cursor0017 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0017.png'), pointer !important;;
}

.cursor0018 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0018.png'), auto !important;
}
.cursor0018 a, .cursor0018 button,.cursor0018 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0018.png'), pointer !important;;
}

.cursor0019 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0019.png'), auto !important;
}
.cursor0019 a, .cursor0019 button,.cursor0019 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0019.png'), pointer !important;;
}

.cursor0020 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0020.png'), auto !important;
}
.cursor0020 a, .cursor0020 button,.cursor0020 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0020.png'), pointer !important;;
}

.cursor0021 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_0021.png'), auto !important;
}
.cursor0021 a, .cursor0021 button,.cursor0021 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_0021.png'), pointer !important;;
}

.cursorthings_0001 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0001.png'), auto !important;
}
.cursorthings_0001 a, .cursorthings_0001 button,.cursorthings_0001 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0001.png'), pointer !important;;
}

.cursorthings_0002 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0002.png'), auto !important;
}
.cursorthings_0002 a, .cursorthings_0002 button,.cursorthings_0002 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0002.png'), pointer !important;;
}

.cursorthings_0003 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0003.png'), auto !important;
}
.cursorthings_0003 a, .cursorthings_0003 button,.cursorthings_0003 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0003.png'), pointer !important;;
}

.cursorthings_0004 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0004.png'), auto !important;
}
.cursorthings_0004 a, .cursorthings_0004 button,.cursorthings_0004 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0004.png'), pointer !important;;
}

.cursorthings_0005 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0005.png'), auto !important;
}
.cursorthings_0005 a, .cursorthings_0005 button,.cursorthings_0005 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0005.png'), pointer !important;;
}

.cursorthings_0006 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0006.png'), auto !important;
}
.cursorthings_0006 a, .cursorthings_0006 button,.cursorthings_0006 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0006.png'), pointer !important;;
}

.cursorthings_0007 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0007.png'), auto !important;
}
.cursorthings_0007 a, .cursorthings_0007 button,.cursorthings_0007 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0007.png'), pointer !important;;
}

.cursorthings_0008 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0008.png'), auto !important;
}
.cursorthings_0008 a, .cursorthings_0008 button,.cursorthings_0008 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0008.png'), pointer !important;;
}

.cursorthings_0009 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0009.png'), auto !important;
}
.cursorthings_0009 a, .cursorthings_0009 button,.cursorthings_0009 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0009.png'), pointer !important;;
}

.cursorthings_0010 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0010.png'), auto !important;
}
.cursorthings_0010 a, .cursorthings_0010 button,.cursorthings_0010 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0010.png'), pointer !important;;
}
.cursorthings_0011 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0011.png'), auto !important;
}
.cursorthings_0011 a, .cursorthings_0011 button,.cursorthings_0011 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0011.png'), pointer !important;;
}

.cursorthings_0012 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0012.png'), auto !important;
}
.cursorthings_0012 a, .cursorthings_0012 button,.cursorthings_0012 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0012.png'), pointer !important;;
}
.cursorthings_0013 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0013.png'), auto !important;
}
.cursorthings_0013 a, .cursorthings_0013 button,.cursorthings_0013 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0013.png'), pointer !important;;
}

.cursorthings_0014 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0014.png'), auto !important;
}
.cursorthings_0014 a, .cursorthings_0014 button,.cursorthings_0014 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0014.png'), pointer !important;;
}
.cursorthings_0015 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0015.png'), auto !important;
}
.cursorthings_0015 a, .cursorthings_0015 button,.cursorthings_0015 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0015.png'), pointer !important;;
}

.cursorthings_0016 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0016.png'), auto !important;
}
.cursorthings_0016 a, .cursorthings_0016 button,.cursorthings_0016 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0016.png'), pointer !important;;
}

.cursorthings_0017 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0017.png'), auto !important;
}
.cursorthings_0017 a, .cursorthings_0017 button,.cursorthings_0017 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0017.png'), pointer !important;;
}
.cursorthings_0018 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0018.png'), auto !important;
}
.cursorthings_0018 a, .cursorthings_0018 button,.cursorthings_0018 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0018.png'), pointer !important;;
}

.cursorthings_0019 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0019.png'), auto !important;
}
.cursorthings_0019 a, .cursorthings_0019 button,.cursorthings_0019 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0019.png'), pointer !important;;
}

.cursorthings_0020 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0020.png'), auto !important;
}
.cursorthings_0020 a, .cursorthings_0021 button,.cursorthings_0021 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0020.png'), pointer !important;;
}
.cursorthings_0021 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0021.png'), auto !important;
}
.cursorthings_0021 a, .cursorthings_0021 button,.cursorthings_0021 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0021.png'), pointer !important;;
}

.cursorthings_0022 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0022.png'), auto !important;
}
.cursorthings_0022 a, .cursorthings_0022 button,.cursorthings_0022 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0022.png'), pointer !important;;
}
.cursorthings_0023 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0023.png'), auto !important;
}
.cursorthings_0023 a, .cursorthings_0023 button,.cursorthings_0023 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0023.png'), pointer !important;;
}
.cursorthings_0024 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0024.png'), auto !important;
}
.cursorthings_0024 a, .cursorthings_0024 button,.cursorthings_0024 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0024.png'), pointer !important;;
}
.cursorthings_0025 {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/arrows/cursor_things_0025.png'), auto !important;
}
.cursorthings_0025 a, .cursorthings_0025 button,.cursorthings_0021 .cursorsHover{
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/pointers/cursor_pointer_things_0025.png'), pointer !important;;
}
